* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

}
header {
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}